body{
     height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #092df1);
    font-size: 24px;


}
#logo{
    margin-left: 23.6cm;
}
#brandName{
    font-size: 2.3cm;
    margin-left: 12cm;
    margin-top: 0.7cm;

}

.LoginArea{
    position: absolute;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to bottom, #092df1, #d9d0cf);
    border: 5px solid;
    padding-top: 15px;
    top:300px;
    left:800px;
    height: 7cm;
    width: 8cm;
}
.inner-LoginArea{
    position: initial;
    margin-left: 60px;
    margin-top: 10px;
}
#LoginButton,#SignupButton{
    width: 2.18cm;
    margin-right: 18px;
    margin-top: 15px;
    border-style: solid;
    border-radius: 10px;
    font-weight: bold;


}
#PasswordText,#UsernameText{
    font-size: 20px;
    font-weight: bold;
    font-family:"Lucida Sans Unicode";
    top:-130px;
}
#passwordField,#usernameField{
    border-style: solid;
    height: 20px;
    border-color: black;
    border: 3px solid;
    border-radius: 4px;
    margin-top: -20px;
}