body{
            font-family: Arial, Helvetica, sans-serif;

            font-style: oblique;
            text-align: center;
            color: white;
        }
        header{
            text-align: center;

            color: #1e5177;
            padding: 1em;
        }
        table{
            text-align: center;
        }
        section{
            background-color: #467aa2;
        }
        img{
            max-width: 100%;
            height: auto;
        }
        quantity{
            text-align: center;
        }
        adress{
            text-align: center;
        }